
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% extends 'Principal/index.html' %}
{% load staticfiles %}
{% block content %}
<form method="POST">
    {% csrf_token %}

    <h3>Se dio de baja al registro {{ Ingresos.nombre }}!!!</h3><br>
    <button class="btn btn-danger" type="submit">si, dar de baja</button>
    <a class="btn btn-primary" style="color: white" href="{% url 'Ingresos:listar' %}">Volver</a>	
</form>
{% endblock %}