{% extends 'Principal/index.html' %}
{% block content %}

<div class="row">
<div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-list"></i>
            </div>
            <div class="mr-5">Charts</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
    </div>
 </div>
 <div class="col-xl-6 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Nuevo</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{% url 'Ingresos:nuevo' %}">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
        </div>
     </div>

     <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fa fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">Editar</div>
                  </div>
                  <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
            </div>
         </div>

         <div class="col-xl-6 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                      <div class="card-body">
                        <div class="card-body-icon">
                          <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">Listar</div>
                      </div>
                      <a class="card-footer text-white clearfix small z-1" href="{% url 'Ingresos:listar' %}">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                          <i class="fa fa-angle-right"></i>
                        </span>
                      </a>
                </div>
             </div>
 </div>
 {% endblock %}