<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% extends 'Principal/index.html' %}
{% load staticfiles %}
{% block content %}
<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Listado <a href="{% url 'Banco:nuevo' %}"><img style="min-width: 40px;max-width: 50px;height: 45px;" src="https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-171_add_new_plus-512.png"></a> </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre Banco</th>
                <th>Nombre pais</th>
                <th>RUC</th>
                <th>Egresos Neto</th>
                <th>Ingresos Neto</th>
                <th>Personal</th>
                <th>Auditor</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% if bancos %}
            {% for banco in bancos %}
                <tr>
                    <th>{{ banco.id }}</th>
                    <th>{{ banco.nombre }}</th>
                    <th>{{ banco.pais }}</th>
                    <th>{{ banco.ruc }}</th>
                    <th>{{ banco.fk_egresos.egresos_neto }}</th>
                    <th>{{ banco.fk_ingresos.ingresos_neto }}</th>
                    <th>{{ banco.fk_personal.nombre }}, {{ banco.fk_personal.apellidos }}</th>
                    <th>{{ banco.auditor.nombre }}</th>
                    <th><a class="btn btn-primary " href="{% url 'Banco:editar' banco.id %}">Editar</a></th>
                    <th><a class="btn btn-danger" href="{% url 'Banco:borrar' banco.id %}">Borrar</a></th>
                </tr>
            {% endfor %}
        </tbody>
            

            {% else %}

            <h1>No hay Registro</h1>

            {% endif %}
    </table>
    </div>
    </div>
    </div>
 
{% endblock %}